spring:
  profiles:
    default: test

---

spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:test
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true

  output:
    ansi:
      enabled: always
