/* 자손 결합자 */
.outer li {
  color: olivedrab;
}

/* 자식(1촌 자손) 결합자 */
.outer > li {
  color: dodgerblue;
}

.outer > li > li {
  text-decoration: underline;
}

/* 뒤따르는 모든 동생들 결합자 */
.starter ~ li {
  font-style: italic;
}

/* 첫 번째, 마지막 요소 가상 클래스 */
ol li:first-child,
ol li:last-child {
  color: yellowgreen;
}

/* ~가 아닌 요소 가상 클래스 */
.outer li:not(:last-child) {
  text-decoration: line-through;
}

/* `outer` 클래스가 아닌 `ul` 내부의 `li`에 적용 */
ul:not(.outer) li {
  font-weight: bold;
}

/* n번째 자식 요소 가상 클래스 */
/* #, #n, #n+#, odd, even 등 시도해보기 */
ol li:nth-child(4n+1) {
  font-weight: bold;
  color: deeppink;
}

li:hover,
ol li:nth-child(4n+1):hover {
  font-weight: bold;
  color: blue;
}