* {
  font-weight: bold;
  color: red;
}

* {
  color: blueviolet;
}

p {
  color: green;
}

.blue {
  color: blue;
}

p.blue {
  color: peru;
}

p.blue.dark {
  color: black;
}

#red {
  color: red;
}

#red, .blue {
  text-decoration: underline;
}