<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JAnsiPatternLayoutEncoder">
            <pattern>
                %d{HH:mm} %-5level %logger{36} - %msg%n
                <highlight level="ERROR" textColor="red"/>
                <highlight level="WARN" textColor="yellow"/>
                <highlight level="INFO" textColor="blue"/>
                <highlight level="DEBUG" textColor="green"/>
                <highlight level="TRACE" textColor="cyan"/>
            </pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.orm.jdbc.bind" level="trace"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>